body {
  text-align: center;
  font-family: Helvetica;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 23px;
}

p {
  font-size: 14px;
}


/******** Header *********/


#header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

#header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#header li {
  line-height: 30px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  font-size: 18px;
  color: white;
}

/**********  Upper Content *******/
#upper-content h2 {
  font-size: 32px;
}

/**********  Lower Content *******/
#lower-content h2 {
  font-size: 23px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}


/************ Footer ************/

#footer {
  text-align: left;
  background-color: dimgray;
}

#footer p {
  font-size: 11px;
  color: white;
}

#footer p, #footer ul {
  padding: 0;
  margin: 0;
}

#footer p, #footer nav,#footer ul, #footer ul li, #footer a{
  display: inline;
}
